[build-system]
requires = [
    "setuptools >= 67.6.0",
    "wheel >= 0.38",
]
build-backend = "setuptools.build_meta"


[tool.setuptools.packages.find]
include = ["hakuin*"]


[tool.setuptools.package-data]
hakuin = [
    "data/models/*.pkl",
    "data/queries/*/*.jinja",
]


[project]
name = "hakuin"
version = "0.1.8"
authors = [{ name = "Jakub Pruzinec", email = "j.pruzinec@gmail.com" }]
description = "Blind SQL Injection optimization and automation framework"
readme = "README.md"
requires-python = ">=3"
dependencies = [
    "aiohttp",
    "jinja2",
    "nltk",
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]


[project.urls]
"Homepage" = "https://github.com/pruzko/hakuin"
