{% if not ctx.table %}
    {% set column = 'TABLE_NAME' %}
    {% set table = 'INFORMATION_SCHEMA.TABLES' %}
{% elif not ctx.column %}
    {% set column = 'COLUMN_NAME' %}
    {% set table = 'INFORMATION_SCHEMA.COLUMNS' %}
{% endif %}
{% extends "_base.jinja" %}



{% block from %}
{% if single %}
    FROM    (
            SELECT  row_number() OVER (ORDER BY {{ column | sql_to_varchar }} ASC) as {{ row_number_alias }}, {{ column }}
            FROM    {{ table }}

            {% if ctx.table is none %}
            WHERE   TABLE_CATALOG=db_name()
                    AND
                    TABLE_TYPE='BASE TABLE'
            {% elif ctx.column is none %}
                    WHERE   TABLE_CATALOG=db_name()
                            AND
                            TABLE_NAME={{ ctx.table | sql_str_lit }}
            {% endif %}
    )
    AS      {{ table_alias }}
{% else %}
    {{ super() }}
{% endif %}
{% endblock %}


{% block where %}
{% if single %}
    {{ super() }}
{% else %}
    {% if ctx.table is none %}
        WHERE   TABLE_CATALOG=db_name()
                AND
                TABLE_TYPE='BASE TABLE'
    {% elif ctx.column is none %}
        WHERE   TABLE_CATALOG=db_name()
                AND
                TABLE_NAME={{ ctx.table | sql_str_lit }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endif %}
{% endblock %}