{% if table is not defined %}
    {% set table = ctx.table | sql_escape if ctx.table else none %}
{% endif %}
{% if column is not defined %}
    {% set column = ctx.column | sql_escape if ctx.column else none %}
{% endif %}


{% block select %}
{% endblock %}

{% block from %}
FROM    {{ table }}
{% endblock %}

{% block where %}
{% endblock %}

{% block offset %}
{% if single %}
LIMIT   1
OFFSET  {{ ctx.row_idx }}
{% endif %}
{% endblock %}