{% set single = true %}
{% extends "_base_schema.jinja" %}


{% block select %}
SELECT  {{ column | sql_len }} != {{ ctx.buffer | length }}
        AND
        {{ column | sql_char_at(ctx.buffer | length) | sql_to_unicode }} < {{ n }}
{% endblock %}
