{% extends 'base.jinja' %}

{% set table = 'pragma_table_info(%s)' % (ctx.table | sql_str_lit) %}
{% set table = '%s.%s' | format(schema, table) if schema else table %}


{% block select %}
SELECT  {{ 'lower(type)' | sql_in_str_set(types) }}
{% endblock %}


{% block from %}
FROM    {{ table }}
{% endblock %}


{% block where %}
WHERE   name={{ ctx.column | sql_str_lit }}
{% endblock %}