SELECT  count(*) < {{ n }}

{% if ctx.table is none %}
FROM    sqlite_master
WHERE   type='table'
{% elif ctx.column is none %}
FROM    pragma_table_info({{ ctx.table | sql_hex_str }})
{% else %}
FROM    {{ ctx.table | sql_escape }}
{% endif %}