{% set single_row = true %}
{% extends 'base.jinja' %}


{% block select %}
SELECT  {% if not has_eos %}
        {{ (column + '::text') | sql_len }} != {{ ctx.buffer | length }}
        AND
        {% endif %}
        {{ (column + '::text') | sql_char_at(ctx.buffer | length) | sql_in_str(values | sql_str_lit) }}
{% endblock %}
