{% if not ctx.table %}
    {% set column = 'TABLE_NAME' %}
    {% set table = 'INFORMATION_SCHEMA.TABLES' %}
{% elif not ctx.column %}
    {% set column = 'COLUMN_NAME' %}
    {% set table = 'INFORMATION_SCHEMA.COLUMNS' %}
{% endif %}
{% extends "_base.jinja" %}


{% block where %}
{% if ctx.table is none %}
    WHERE   TABLE_SCHEMA=database()
{% elif ctx.column is none %}
    WHERE   TABLE_SCHEMA=database()
            AND
            TABLE_NAME={{ ctx.table | sql_str_lit }}
{% else %}
    {{ super() }}
{% endif %}
{% endblock %}