{% extends 'column_type_in_str_set.jinja' %}


{% block select %}
SELECT  {{ 'lower(DATA_TYPE)' | sql_in_str_set(types) }}
        OR
        {{ 'text' | sql_str_lit | sql_in_str('lower(DATA_TYPE)') }}
{% endblock %}