SELECT  {{ 'lower(DATA_TYPE)' | sql_in_str_set(types) }}
        OR
        {{ 'blob' | sql_hex_str | sql_in_str('lower(DATA_TYPE)') }}
FROM    information_schema.columns
WHERE   TABLE_SCHEMA=database() AND
        TABLE_NAME={{ ctx.table | sql_hex_str }} AND
        COLUMN_NAME={{ ctx.column | sql_hex_str }}