SELECT  count(*) < {{ n }}

{% if ctx.table is none %}
FROM    INFORMATION_SCHEMA.TABLES
WHERE   TABLE_SCHEMA=database()
{% elif ctx.column is none %}
FROM    INFORMATION_SCHEMA.COLUMNS
WHERE   TABLE_SCHEMA=database() AND
        TABLE_NAME={{ ctx.table | sql_hex_str }}
{% else %}
FROM    {{ ctx.table | sql_escape }}
{% endif %}