SELECT  {% if not has_eos %}
        {{ ctx.column | sql_escape | sql_len }} != {{ ctx.s | length }}
        AND
        {% endif %}
        {{ ctx.column | sql_escape | sql_char_at(ctx.s | length) | sql_in_str(values) }}
FROM    {{ ctx.table | sql_escape }}
LIMIT   1
OFFSET  {{ ctx.row_idx }}