{% set single_row = true %}
{% extends 'base.jinja' %}


{% block select %}
SELECT  CASE WHEN 
            {{ column | sql_len }} != {{ ctx.buffer | length }}
            {% if n <= 0xff %}
            AND
            {{ column | sql_char_at(ctx.buffer | length) }} < {{ n | sql_byte_lit }}
            {% endif %}
        THEN 1 ELSE 0 END
{% endblock %}
